<footer class="bg-footerBkg flex pt-8">
    <section class="hidden lg:flex flex-col items-end pr-16" style="width:25%">
        <div class="flex flex-col items-center">
            <%= image_tag 'logo-footer.png', class:"h-32 w-32"  %>
            <p >S E A R C H</p>
        </div>
    </section>


    <section class="flex flex-col text-customBlue mb-8 w-full px-4 lg:w-3/5" style="font-weight:500">

        <article class="pb-10">

            <div class="flex flex-col items-center lg:flex-row">
                <div>
                    <div class="flex border-b border-white pb-4 lg:border-0">
                        <div class="flex flex-col items-center lg:hidden pr-4">
                            <%= image_tag 'logo-footer.png', class:"h-24 w-24"  %>
                            <p >S E A R C H</p>
                        </div>
                        <h1 class="text-left text-3xl text-white py-4">A better way to <br>discover real estate.</h1>
                    </div>
                    
                    <div class="hidden lg:flex ">
                        <%= link_to "Find a Home", "#", class:"pr-4" %><br>
                        <%= link_to "Sell", "#", class:"px-4" %><br>
                        <%= link_to "Where to Live", "#", class:"px-4" %><br>
                        <%= link_to "Neighborhoods", "#", class:"px-4" %>
                    </div>
                </div>

                <div class="flex">
                    <div>
                        <h4 class="py-4">3541 Fountain Lane <br> Myrtle Beach, SC 29577<br>(843) 310-6220</h4>
                        <div class="flex">
                            <%= image_tag 'facebook-icon.png', class:"h-6" %>
                            <%= image_tag 'instagram-icon.png', class:"h-6 mx-2" %>
                            <%= image_tag 'linkedin-icon.png', class:"h-6" %>
                        </div>
                    </div>
                    <div class="flex items-end">
                        <%= image_tag 'realtor-icon.png', class:"min-h-12 h-12" %>
                    </div>
                    
                </div>
            </div>

            <div class="hidden lg:flex">
                <div class="flex mt-4 text-xs">
                    <%= link_to "Blog", "#", class:"pr-2" %><br>
                    <%= link_to "Favorites", "#", class:"px-2" %><br>
                    <%= link_to "Saved Searches", "#", class:"px-2" %><br>
                    <%= link_to "Login", "#", class:"px-2" %><br>
                    <%= link_to "About EZ Home Search", "#", class:"px-2" %>
                </div>      
            </div>

        </article>


        <article class="border-t-2 border-b-2 border-white py-5 flex flex-col" style="font-weight:500">
            <h4 class="font-bold text-lg">Locations</h4>
       
            <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 text-xs" >
                <div class="">
                    <h6 class="mt-4 font-bold underline">Arkansas</h6>
                        <p class ="underline underline-offset-2 mt-2">Northwestern Arkansas</p>

                    <h6 class="mt-4 font-bold underline">Arizona</h6>
                        <p class ="underline underline-offset-2 mt-2">Phoenix</p>

                    <h6 class="mt-4 font-bold underline">Colorado</h6>
                        <p class ="underline underline-offset-2 mt-2">Boulder</p>
                        <p class ="underline underline-offset-2 mt-2">Denver</p>
                    <h6 class="mt-4 font-bold underline">Connecticut</h6>
                        <p class ="underline underline-offset-2 mt-2">Fairfield</p>
                        <p class ="underline underline-offset-2 mt-2">Hartford</p>
                        <p class ="underline underline-offset-2 mt-2">Lichfield</p>
                        <p class ="underline underline-offset-2 mt-2">New Haven</p>
                        <p class ="underline underline-offset-2 mt-2">New London</p>
                        <p class ="underline underline-offset-2 mt-2">Windham</p>
                    <h6 class="mt-4 font-bold underline">District of Columbia</h6>
                        <p class ="underline underline-offset-2 mt-2">Washington</p>

                    <h6 class="mt-4 font-bold underline">Delaware</h6>
                        <p class ="underline underline-offset-2 mt-2">Dover</p>
                        <p class ="underline underline-offset-2 mt-2">Seaford</p>
                    <h6 class="mt-4 font-bold underline">Florida</h6>
                        <p class ="underline underline-offset-2 mt-2">Cape Coral/Fort Myers</p>
                        <p class ="underline underline-offset-2 mt-2">Daytona Beach - Omond Beach</p>
                        <p class ="underline underline-offset-2 mt-2">Fort Lauderdale</p>
                        <p class ="underline underline-offset-2 mt-2">Gainesville</p>
                        <p class ="underline underline-offset-2 mt-2">Jacksonville</p>
                        <p class ="underline underline-offset-2 mt-2">Lakeland - Winter Haven</p>
                        <p class ="underline underline-offset-2 mt-2">Miami</p>
                </div>
                <div>
                        <p class ="underline underline-offset-2 mt-2">Naples - Marco Island</p>
                        <p class ="underline underline-offset-2 mt-2">Ocala</p>
                        <p class ="underline underline-offset-2 mt-2">Okeechobe</p>
                        <p class ="underline underline-offset-2 mt-2">Orlando</p>
                        <p class ="underline underline-offset-2 mt-2">Pam Bay-Melbourne</p>
                        <p class ="underline underline-offset-2 mt-2">Palm Beach</p>
                        <p class ="underline underline-offset-2 mt-2">Palm Coast</p>
                        <p class ="underline underline-offset-2 mt-2">Panama City</p>
                        <p class ="underline underline-offset-2 mt-2">Pensacola</p>
                        <p class ="underline underline-offset-2 mt-2">Port St Lucie</p>
                        <p class ="underline underline-offset-2 mt-2">Punta Gorda</p>
                        <p class ="underline underline-offset-2 mt-2">Sarasota</p>
                        <p class ="underline underline-offset-2 mt-2">Sebastian - Vero Beach</p>
                        <p class ="underline underline-offset-2 mt-2">Sebring</p>
                        <p class ="underline underline-offset-2 mt-2">St Petersburg</p>
                        <p class ="underline underline-offset-2 mt-2">Tallahasse</p>
                        <p class ="underline underline-offset-2 mt-2">Tampa</p>

                        <h6 class="mt-4 font-bold underline">Gorgia</h6>
                            <p class ="underline underline-offset-2 mt-2">Athens</p>
                            <p class ="underline underline-offset-2 mt-2">Atlanta Metro</p>
                            <p class ="underline underline-offset-2 mt-2">Augusta</p>
                            <p class ="underline underline-offset-2 mt-2">Columbus</p>
                            <p class ="underline underline-offset-2 mt-2">LaGrange</p>
                            <p class ="underline underline-offset-2 mt-2">Macon</p>
                            <p class ="underline underline-offset-2 mt-2">Savannah</p>
                            <p class ="underline underline-offset-2 mt-2">Valdosta</p>
                            <p class ="underline underline-offset-2 mt-2">Warner Robins</p>

                        <h6 class="mt-4 font-bold underline">Idaho</h6>
                            <p class ="underline underline-offset-2 mt-2">Idaho Falls</p>
                </div>
                <div>
                        <p class ="underline underline-offset-2 mt-2">Kootenai</p>

                        <h6 class="mt-4 font-bold underline">Indiana</h6>
                            <p class ="underline underline-offset-2 mt-2">Northwest Indiana</p>

                        <h6 class="mt-4 font-bold underline">Maryland</h6>
                            <p class ="underline underline-offset-2 mt-2">Baltimore</p>
                            <p class ="underline underline-offset-2 mt-2">Cambridge</p>
                            <p class ="underline underline-offset-2 mt-2">Cumberland</p>
                            <p class ="underline underline-offset-2 mt-2">Easton</p>
                            <p class ="underline underline-offset-2 mt-2">Lexington Park</p>
                            <p class ="underline underline-offset-2 mt-2">Ocean Pines</p>
                            <p class ="underline underline-offset-2 mt-2">Salisbury</p>     

                        <h6 class="mt-4 font-bold underline">North Carolina</h6>
                            <p class ="underline underline-offset-2 mt-2">Asheville</p>
                            <p class ="underline underline-offset-2 mt-2">Boone</p>
                            <p class ="underline underline-offset-2 mt-2">Charlotte</p>
                            <p class ="underline underline-offset-2 mt-2">Durham / Chapel Hill</p>
                            <p class ="underline underline-offset-2 mt-2">Fayetteville</p>
                            <p class ="underline underline-offset-2 mt-2">Greensboro</p>
                            <p class ="underline underline-offset-2 mt-2">Greenville</p>
                            <p class ="underline underline-offset-2 mt-2">Hickory</p>
                            <p class ="underline underline-offset-2 mt-2">Jacksonville</p>
                            <p class ="underline underline-offset-2 mt-2">Lumberton</p>
                            <p class ="underline underline-offset-2 mt-2">New Bern</p>
                            <p class ="underline underline-offset-2 mt-2">Outer Banks</p>
                            <p class ="underline underline-offset-2 mt-2">Pinehurst-Southern Pines</p>
                            <p class ="underline underline-offset-2 mt-2">Raleigh</p>
                            <p class ="underline underline-offset-2 mt-2">Roanoke Rapids</p>
                            <p class ="underline underline-offset-2 mt-2">Rocky Mount</p>
                
                </div>
                <div>
                            <p class ="underline underline-offset-2 mt-2">Sanford</p>
                            <p class ="underline underline-offset-2 mt-2">Wilmington</p>
                            <p class ="underline underline-offset-2 mt-2">Wilson</p>
                            <p class ="underline underline-offset-2 mt-2">Winston-Salem</p>

                        <h6 class="mt-4 font-bold underline">New Jersey</h6>
                            <p class ="underline underline-offset-2 mt-2">Atlantic City</p>
                            <p class ="underline underline-offset-2 mt-2">Newark</p>
                            <p class ="underline underline-offset-2 mt-2">Trenton</p>
                            <p class ="underline underline-offset-2 mt-2">Vineland</p>

                        <h6 class="mt-4 font-bold underline">Nevada</h6>
                            <p class ="underline underline-offset-2 mt-2">Las Vegas</p>

                        <h6 class="mt-4 font-bold underline">Ohio</h6>
                            <p class ="underline underline-offset-2 mt-2">Cleveland</p>

                        <h6 class="mt-4 font-bold underline">Pennsylvania</h6>
                            <p class ="underline underline-offset-2 mt-2">Allentown</p>
                            <p class ="underline underline-offset-2 mt-2">Harrisburg-Carlisle</p>
                            <p class ="underline underline-offset-2 mt-2">Philadelphia</p>
                            <p class ="underline underline-offset-2 mt-2">Pittsburgh</p>
                            <p class ="underline underline-offset-2 mt-2">Reading</p>
                            <p class ="underline underline-offset-2 mt-2">Scranton</p>

                        <h6 class="mt-4 font-bold underline">South Carolina</h6>
                            <p class ="underline underline-offset-2 mt-2">Aiken-North Augusta</p>
                            <p class ="underline underline-offset-2 mt-2">Charleston</p>
                            <p class ="underline underline-offset-2 mt-2">Columbia</p>
                            <p class ="underline underline-offset-2 mt-2">Florence</p>
                            <p class ="underline underline-offset-2 mt-2">Georgetown</p>
                            <p class ="underline underline-offset-2 mt-2">Greenville</p>
                
                </div>
                <div>
                            <p class ="underline underline-offset-2 mt-2">Greenwood</p>
                            <p class ="underline underline-offset-2 mt-2">Hilton Head</p>
                            <p class ="underline underline-offset-2 mt-2">Myrtle Beach</p>
                            <p class ="underline underline-offset-2 mt-2">Seneca</p>
                            <p class ="underline underline-offset-2 mt-2">Spartanburg</p>
                            <p class ="underline underline-offset-2 mt-2">Sumter</p>

                        <h6 class="mt-4 font-bold underline">Tennessee</h6>
                            <p class ="underline underline-offset-2 mt-2">Chattanooga</p>
                            <p class ="underline underline-offset-2 mt-2">Jackson</p>
                            <p class ="underline underline-offset-2 mt-2">Memphis</p>

                        <h6 class="mt-4 font-bold underline">Texas</h6>         
                            <p class ="underline underline-offset-2 mt-2">Galveston</p>
                            <p class ="underline underline-offset-2 mt-2">Houston</p>

                        <h6 class="mt-4 font-bold underline">Virginia</h6>         
                            <p class ="underline underline-offset-2 mt-2">Albemarle</p>
                            <p class ="underline underline-offset-2 mt-2">Charlottesville</p>
                            <p class ="underline underline-offset-2 mt-2">Lynchburg</p>
                            <p class ="underline underline-offset-2 mt-2">Northern Virginia</p>
                            <p class ="underline underline-offset-2 mt-2">Richmond</p>
                            <p class ="underline underline-offset-2 mt-2">Roanoke</p>
                            <p class ="underline underline-offset-2 mt-2">Virginia Beach-Norfolk-Newport News</p>

                        <h6 class="mt-4 font-bold underline">Washington</h6>         
                            <p class ="underline underline-offset-2 mt-2">Spokane</p>

                        <h6 class="mt-4 font-bold underline">West Virginia</h6>         
                            <p class ="underline underline-offset-2 mt-2">Morgantown</p>
                            <p class ="underline underline-offset-2 mt-2">Parkersburg</p>

                </div>
            </div>
        </article>

        <article class="flex flex-col lg:flex-row justify-between pt-5" style="font-size:10px">

            <div class="flex justify-center">
                <%= link_to "Accesibility", "#", class:"pr-2" %><br>
                <%= link_to "Terms of Service", "#", class:"px-2" %><br>
                <%= link_to "Privacy Policy", "#", class:"px-2" %><br>
                <%= link_to "DMCA Notice", "#", class:"px-2" %>
                <%= link_to "Sitemap", "#", class:"px-2" %>
            </div>
           

            <p class="pt-4 lg:pt-0 text-center">© Copyright 2024 EZ Home Search. All Rights Reserved.</p>
        </article>

    </section>


   

</footer>
